<div class="container">
    <div class="card shadow mb-3">
        <div class="card-body">
            <h3 class="card-header text-center ">إضافة مستتخدم</h3>
            <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" dir="rtl">
                <strong>تمت عملية الإضافة بنجاح</strong>
                <button type="button" (click)="closeAlert()" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="form" #localForm="ngForm" (ngSubmit)="onSubmit()" dir="rtl">

                <div class="form-group" id="fg">
                    <div class="row">
                        <div class="col-md-6"><label for="name">الإسم: </label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="intervenant.nomIntervenant"
                                formControlName="name"
                                [ngClass]="{'is-invalid':submitted && form.controls.name.errors}">
                        </div>
                        <div class="col-md-6"><label for="email">العنوان الالكتروني: </label>
                            <input type="text" class="form-control" id="version" [(ngModel)]="intervenant.email"
                                formControlName="email"
                                [ngClass]="{'is-invalid':submitted && form.controls.email.errors}">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6"><label for="adresse">العنوان: </label>
                    <input type="text" class="form-control" id="adresse" required [(ngModel)]="intervenant.adresse" 
                    name="adresse">
                        </div>
                        <div class="col-md-6"><label for="numTel">رقم الهاتف: </label>
                            <input type="text" class="form-control" id="numTel" required
                                [(ngModel)]="intervenant.num_tel" formControlName="numTel"
                                [ngClass]="{'is-invalid':submitted && form.controls.numTel.errors}">
                        </div>
                    </div>

                </div>



                <div class="form-group">
                    <label for="fax">الفاكس: </label>
                    <input type="text" class="form-control" id="fax" required [(ngModel)]="intervenant.fax"
                        name="fax">
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="typeadmin">الإدارة: </label>
                        <select (change)="selectedChangeHandler($event)" [(ngModel)]="selectedAdministraion"
                            formControlName="typeadmin"
                            [ngClass]="{'is-invalid': submitted && form.controls.typeadmin.errors}">
                            <option>Selectionner une Administration</option>
                            <option *ngFor="let t of types">
                                {{t.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && form.controls.typeadmin.errors" class="invalid-feedback">
                            <div *ngIf="form.controls.typeadmin.errors.required">الرجاء إختيار الإدارة !!</div>
                        </div>
                        <div class="form-group">
                            <label for="typeintervenants">الصفة: </label>
                            <select (change)="selectedChangeHandler1($event)" [(ngModel)]="selectedType"
                                formControlName="typeintervenants"
                                [ngClass]="{'is-invalid': submitted && form.controls.typeintervenants.errors}">
                                <option>اختيار الصفة</option>
                                <option *ngFor="let c of intervenants">
                                    {{c.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form.controls.typeintervenants.errors" class="invalid-feedback">
                                <div *ngIf="form.controls.typeintervenants.errors.required">الرجاء إختيار الصفة !!</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">إضافة</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>